// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div img {
    width : 500px;
    height : 320px;
    }
    
.adam h1{
    color : red;
}    

.page1 h1{
    font-size : 50px;

     
}
.page1{
    text-align : center;
    margin-top : 50px 50px;
    padding : 40px;

}

.bonus{
    text-align : center;
    margin-top : 50px 50px;
    padding : 40px;

}